img {
  display: block;
  margin: 0 auto;
}

  body {
    background-color: rgb(201, 201, 201);
  }
  
  h2 {
    color: black;
    font-size: 24px;
  }
  
  h3 {
    color: rgb(0, 0, 0);
    font-size: 18px;
  }
  
  div {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .cdk-drag {
    background-color: #f64a4a;
    border: 1px solid #6c6c6c;
    padding: 10px;
    margin-bottom: 10px;
  }